.product {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
}

.product section {
  width: clamp(80rem, 80%, 90rem);
  margin: 6rem auto;
  display: grid;
  grid-template-columns: 1.3fr 1.5fr;
  gap: 7rem;
  align-items: center;
}

.product img {
  width: 100%;
}

.product h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.product section a {
  margin-top: 2rem;
}

.product section audio {
  width: 100%;
  border-radius: 7px;
  box-shadow: 0 0.8rem 2.4rem rgba(36, 42, 46, 0.5);
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product section video {
  width: 100%;
  height: 100%;
  aspect-ratio: 16/9;
  border-radius: 7px;
  box-shadow: 0 0.8rem 2.4rem rgba(36, 42, 46, 0.5);
}
